fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9
aiogram==3.20.0
sqlalchemy==2.0.36
asyncpg==0.30.0
alembic==1.13.3
redis==5.2.1
pydantic-settings==2.5.2
pydantic==2.9.2
aiohttp==3.10.10
python-dotenv==1.0.1
razorpay==1.4.1
cryptography==41.0.7
bcrypt==3.2.4